@import url('https://fonts.googleapis.com');

body {
  font-family: 'Roboto';
  margin: 0px;
}

.body {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #1F2937;
  color: #F9FAF8;
}

.top {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 40px 24px;
}

.links {
  display: flex;
  gap: 12px;
}

.top-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: auto;
}

.top-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
}

button {
  background-color: #3882F6;
  color: #eee;
  border-radius: 5px;
  border: none;
  padding: 8px 24px;
  font-weight: bold;
  width: 100px;
}

.middle {
  padding: 40px 24px;
}

.small-title {
  display: flex;
  justify-content: center;
  padding: 40px 24px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.images {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.image {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 150px;
}

.lower-middle {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  color: #1F2937;
  font-weight: 300;
  font-size: 36px;
  padding: 40px 24px;
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 40px 24px;
}

a {
  text-decoration: none;
}